<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<import resource="CommonContext-Dao.xml"/>

	<bean id="basisController" class="com.pyramix.web.common.GFCBaseController" abstract="true" scope="prototype">
	
	</bean>        

	<bean id="settingsUtility" class="com.pyramix.web.common.SettingsUtil">
	
	</bean>
	
	<bean id="pdfpReportUtility" class="com.pyramix.web.report.PdfPReport">
	
	</bean>
	
	<bean id="numToWordsConverter" class="com.pyramix.web.common.NumToWordsConverter">
	
	</bean>
	
	<bean id="serialNumberGenerator" class="com.pyramix.web.common.SerialNumberGenerator" scope="prototype" parent="basisController">
    	<property name="serialDao" ref="serialDao"></property>	
	</bean>
	
    <bean id="mainController" class="com.pyramix.web.main.MainController" scope="prototype" parent="basisController">
    	<property name="settingsUtility" ref="settingsUtility"></property>
    </bean>
    
    <bean id="infoPenerimaanCoilController" class="com.pyramix.web.penerimaan.PenerimaanCoilController" scope="prototype" parent="basisController">
    	<property name="inventoryDao" ref="inventoryDao"></property>
    	<property name="inventoryCodeDao" ref="inventoryCodeDao"></property>
    	<property name="customerDao" ref="customerDao"></property>
    </bean>
    
    <bean id="infoProcessCoilController" class="com.pyramix.web.process.ProcessCoilController" scope="prototype" parent="basisController">
    	<property name="inventoryProcessDao" ref="inventoryProcessDao"></property>
    	<property name="customerDao" ref="customerDao"></property>
    	<property name="serialNumberGenerator" ref="serialNumberGenerator"></property>
    	<property name="companyDao" ref="companyDao"></property>
    	<property name="inventoryDao" ref="inventoryDao"></property>
    </bean>
    
    <bean id="processcoildReportWinController" class="com.pyramix.web.process.ProcessCoilReportController" scope="prototype" parent="basisController">
    	<property name="pdfpReportUtility" ref="pdfpReportUtility"></property>
    	
    </bean>
    
    <bean id="jasperReportUtil" class="com.pyramix.web.common.JasperReportsUtil">
    
    </bean>
    
    <bean id="productionReportPrintControl" class="com.pyramix.web.process.ProcessCoilJasperController" scope="prototype" parent="basisController">
    	<property name="jasperReportUtil" ref="jasperReportUtil"></property>
    	<property name="inventoryProcessDao" ref="inventoryProcessDao"></property>
    </bean>
    
    <bean id="infoProductController" class="com.pyramix.web.product.ProductController" scope="prototype" parent="basisController">
    	<property name="companyDao" ref="companyDao"></property>
    	<property name="inventoryProcessDao" ref="inventoryProcessDao"></property>
    </bean>    

    <bean id="infoSuratJalanController" class="com.pyramix.web.suratjalan.SuratJalanController" scope="prototype" parent="basisController">
    	<property name="customerDao" ref="customerDao"></property>
    	<property name="companyDao" ref="companyDao"></property>
    	<property name="inventoryProcessDao" ref="inventoryProcessDao"></property>
    	<property name="serialNumberGenerator" ref="serialNumberGenerator"></property>
    	<property name="suratjalanDao" ref="suratjalanDao"></property>
    </bean>
    
    <bean id="suratjalanPrintControl" class="com.pyramix.web.suratjalan.SuratJalanPrintController" scope="prototype" parent="basisController">
    	<property name="jasperReportUtil" ref="jasperReportUtil"></property>
    
    </bean>
    
    <bean id="infoInvoiceController" class="com.pyramix.web.invoice.InvoiceController" scope="prototype" parent="basisController">
    	<property name="invoiceDao" ref="invoiceDao"></property>
    	<property name="customerDao" ref="customerDao"></property>
    	<property name="serialNumberGenerator" ref="serialNumberGenerator"></property>
    	<property name="companyDao" ref="companyDao"></property>
    	<property name="suratjalanDao" ref="suratjalanDao"></property>
    	<property name="numToWordsConverter" ref="numToWordsConverter"></property>
    </bean>
    
    <bean id="infoCustomerController" class="com.pyramix.web.customer.CustomerController" scope="prototype" parent="basisController">
    	<property name="customerDao" ref="customerDao"></property>
    </bean>        

	<bean id="inventoryTypeController" class="com.pyramix.web.inventory.InventoryTypeController" scope="prototype" parent="basisController">
		<property name="inventoryTypeDao" ref="inventoryTypeDao"></property>
	</bean>

	<bean id="inventoryTableController" class="com.pyramix.web.inventory.InventoryTableController" scope="prototype" parent="basisController">
		<property name="inventoryTypeDao" ref="inventoryTypeDao"></property>
		<property name="inventoryTableDao" ref="inventoryTableDao"></property>
	</bean>
	
	<bean id="infoCompanyController" class="com.pyramix.web.company.CompanyController" scope="prototype" parent="basisController">
		<property name="companyDao" ref="companyDao"></property>
	</bean>
	
	<bean id="infoDashboardController" class="com.pyramix.web.dashboard.DashboardController" scope="prototype" parent="basisController">
	
	</bean>    
</beans>