<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<mapping class="com.pyramix.domain.entity.Ent_InventoryType"/>

		<mapping class="com.pyramix.domain.entity.Ent_InventoryCode"/>
		
		<mapping class="com.pyramix.domain.entity.Ent_Customer"/>
		
		<mapping class="com.pyramix.domain.entity.Ent_Inventory"/>

	</session-factory>
</hibernate-configuration>