<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<mapping class="com.pyramix.domain.entity.Ent_Company"/>

		<mapping class="com.pyramix.domain.entity.Ent_InventoryType"/>

		<mapping class="com.pyramix.domain.entity.Ent_InventoryCode"/>
		
		<mapping class="com.pyramix.domain.entity.Ent_Customer"/>
		
		<mapping class="com.pyramix.domain.entity.Ent_Inventory"/>

		<mapping class="com.pyramix.domain.entity.Ent_Serial"/>

		<mapping class="com.pyramix.domain.entity.Ent_InventoryProcess"/>

		<mapping class="com.pyramix.domain.entity.Ent_InventoryProcessMaterial"/>

		<mapping class="com.pyramix.domain.entity.Ent_InventoryProcessProduct"/>

		<mapping class="com.pyramix.domain.entity.Ent_InventoryTable"/>
		
		<mapping class="com.pyramix.domain.entity.Ent_SuratJalan"/>

		<mapping class="com.pyramix.domain.entity.Ent_SuratJalanProduct"/>
		
		<mapping class="com.pyramix.domain.entity.Ent_Invoice"/>
		
		<mapping class="com.pyramix.domain.entity.Ent_InvoiceProduct"/>
		
		<mapping class="com.pyramix.domain.entity.Ent_InvoiceKwitansi"/>
		
		<mapping class="com.pyramix.domain.entity.Ent_InvoiceFaktur"/>
	</session-factory>
</hibernate-configuration>